*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: rgb(255, 140, 0);
    height: 100vh;
    
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
   
}

header,footer{

    background-color: black;
    border: 2px solid white;
}

main{

    display: grid;

    grid-template-columns: 1fr 4fr 1fr;
}
article{
    background-color: rgb(255, 140, 0) ;
    border: 2px solid brown;
}

