*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo_principal{

    background-color: darkorange;
    height: 100vh;

    display: grid;

    grid-template-areas: 
    
    'cabecalho cabecalho cabecalho'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'conteudo conteudo conteudo'
    'rodape rodape rodape'
    'rodape rodape rodape'
    
    ;

}

#cabecalho{
    background-color: black;
    
    
    grid-area: cabecalho;

}

#conteudo{
    
    background-color: brown;
    
    
    grid-area: conteudo;

    display: grid;

    grid-template-areas:
    'lateral especifico especifico'
    ;

}

#lateral{
    background-color: rgb(0, 17, 255);
    

    grid-area: lateral;


}

#conteudo_especifico{
    background-color: rgb(255, 30, 0);
   

    grid-area: especifico;


}

#rodape{
    background-color: rgb(255, 255, 255);
    
    
    grid-area: rodape;


}