*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#meu_teste{

    background-color: darkorange;
    height: 100vh;

    

}

#cabecalho{
    background-color: black;
    height: 100px;
}



